.acievements-box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:10px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(232, 228, 228, 0.184);
}

.avatar-box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    border-radius: 18px;
    border: none;
    padding:8px;
    background-color: #E0F5FB;
    
}
